@{
<form action="/pessoa/cadastro">
    nome: <input type="text" name="nome" /><br />
    email:<input type="email" name="email" /><br />
    cpf:<input type="text" name="cpf" /><br />
    endereço:<input type="text" name="endereco" /><br />
    data de nascimento:<input type="date" name="dataNascimento"/><br />
    <input type="submit" value="cadastrar" />
</form>

}
